
{% extends "blog/base.html" %}
{% block content %}
    <h1>About</h1>


    <p>A site about different coding subjects.</p>
    <p>Langugaes covered will be:</p>
    <ul>
        <li>Python</li>
        <li>Javascript</li>
        <li>HTML&Css</li>
        <li>Other.</li>
    </ul>

    <p>This was created due to the frustration encountered by myself and coleagues when searching for answers about specific issues we encountered only to be met with erroneous or out dated solutions. </p>
    <p>Many developers have noticed that as the internet gets older a lot of the answers from the past not only stay on it but are reguilarly at the top of suggestions.</p>
    <p>This can make for a very frustrating search when trying to find the answer to a specific problem. </p>
    <p>The main goal of this website will be not only to provide solutions but also to discuss possible concepts for future proofing concepts</p>


{% endblock content %}