asn1crypto==0.24.0
Click==7.0
crcmod==1.7
cryptography==2.3
enum34==1.1.6
Flask==1.1.1
Flask-Debug==0.4.3
gyp==0.1
idna==2.6
inflection==0.3.1
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycrypto==2.6.1
pygobject==3.26.1
python-apt==1.6.4
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
Werkzeug==0.16.0
