{% extends "base.html" %}
{% block content %}
<div class="mx-auto" style="width: 300px;">
  <br>
      <div class="card" style="width:300px">
        <img class="card-img-top rounded-circle bg-secondary" src="{{ url_for('static', filename='profile.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alex Sulea</h5>
          <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
          <p class="card-text">For contact info see below</p>
          <a href="#" class="card-link">alex.sulea@gmail.com</a>
          <a href="https://www.linkedin.com/in/alexandrusulea" class="card-link">LinkedIn</a>
        </div>
      </div>

</div>
{% endblock %}